In [1]:
# System Modules
import os
import sys
sys.path.append(os.path.abspath(os.path.join('..')))

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Module imports
import pandas as pd
pd.set_option('max_column', None)
pd.options.display.float_format = "{:.2f}".format

In [3]:
# Custom Modules
from myscripts import file
from myscripts import marketing

In [4]:
file_name = 'clean_telecom_data.csv'
data = file.read_csv(file_name)

# Task-1 : User Overview Analysis

Exploratory Data Analysis is a fundamental step in the data science process. It involves all the processes used to familiarize oneself with the data and explore initial insights that will inform further steps in the data science process.

### For Marketing

1. Start by identifying the top 10 handsets used by the customers.
2. Then, identify the top 3 handset manufacturers
3. Next, identify the top 5 handsets per top 3 handset manufacturer
4. Make a short interpretation and recommendation to marketing teams

In [5]:
marketing_df = marketing.Marketing(data)
marketing_df.filter_necessary_columns()
marketing_df.df.head()

   MSISDN/Number                 Handset Type Handset Manufacturer
0 33664962239.00   Samsung Galaxy A5 Sm-A520F              Samsung
1 33681854413.00  Samsung Galaxy J5 (Sm-J530)              Samsung
2 33760627129.00     Samsung Galaxy A8 (2018)              Samsung
3 33750343200.00             Huawei B528S-23A                Apple
4 33699795932.00             Samsung Sm-G390F              Samsung

Top 10 Handsets

In [6]:
top_10_handsets =  marketing_df.get_top_handsets(10)
top_10_handsets

                     Handset Type  MSISDN/Number
315              Huawei B528S-23A          28631
53        Apple iPhone 6S (A1688)           9395
49         Apple iPhone 6 (A1586)           8993
59         Apple iPhone 7 (A1778)           6279
73        Apple iPhone Se (A1723)           5165
66         Apple iPhone 8 (A1905)           4977
78        Apple iPhone Xr (A2105)           4556
951  Samsung Galaxy S8 (Sm-G950F)           4464
75         Apple iPhone X (A1901)           3806
834    Samsung Galaxy A5 Sm-A520F           3700

Top 3 Manufacturers

In [7]:
top_3_manufacturers =  marketing_df.get_top_manufacturers(3)
top_3_manufacturers

    Handset Manufacturer  MSISDN/Number
5                  Apple          68243
103              Samsung          40429
52                Huawei          34296

The top 5 handsets per top 3 handset manufacturer

In [8]:
best_phones = marketing_df.get_best_phones()

**** Apple ***
Handset Type
Apple iPhone 6S (A1688)    6744
Huawei B528S-23A           6650
Apple iPhone 6 (A1586)     6245
Apple iPhone 7 (A1778)     4675
Apple iPhone Se (A1723)    3744
Name: MSISDN/Number, dtype: int64

**** Samsung ***
Handset Type
Samsung Galaxy S8 (Sm-G950F)    3232
Samsung Galaxy J5 (Sm-J530)     2741
Samsung Galaxy A5 Sm-A520F      2701
Samsung Galaxy J3 (Sm-J330)     2582
Samsung Galaxy S7 (Sm-G930X)    2288
Name: MSISDN/Number, dtype: int64

**** Huawei ***
Handset Type
Huawei B528S-23A                  10616
Huawei P20 Lite Huawei Nova 3E     1526
Huawei E5180                       1182
Huawei P20                         1105
Huawei Y6 2018                      757
Name: MSISDN/Number, dtype: int64

### Task 1.1

Aggregate per user the following information in the column  
1. number of xDR sessions
2. Session duration
3. the total download (DL) and upload (UL) data
4. the total data volume (in Bytes) during this session for each application

In [9]:
df_clean = data.copy()
aggrigate = {"Bearer Id": 'count', 'Dur. (ms)':'sum', 'Total UL (Bytes)': 'sum', 'Total DL (Bytes)': 'sum'}
aggrigation_result = df_clean.groupby('MSISDN/Number').agg(aggrigate)
aggrigation_result.head()

                Bearer Id  Dur. (ms)  Total UL (Bytes)  Total DL (Bytes)
MSISDN/Number
33601001722.00          1  116720.00       36053108.00      842637466.00
33601001754.00          1  181230.00       36104459.00      120755184.00
33601002511.00          1  134969.00       39306820.00      556659663.00
33601007832.00          1   49878.00       20327526.00      401993172.00
33601008617.00          2   37104.00       94280527.00     1363130417.00

Total download and upload of each application