In [302]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Read Dataset

In [396]:
file_name = 'Week1_challenge_data_source.csv'
telecom_dataset = pd.read_csv(f'../data/{file_name}', na_values=['?', None, 'nan','undefined'])

In [397]:
pd.set_option('max_column', None)
telecom_dataset.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),HTTP DL (Bytes),HTTP UL (Bytes),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with 125000B < Vol DL,Nb of sec with 1250B < Vol UL < 6250B,Nb of sec with 31250B < Vol DL < 125000B,Nb of sec with 37500B < Vol UL,Nb of sec with 6250B < Vol DL < 31250B,Nb of sec with 6250B < Vol UL < 37500B,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,42.0,5.0,23.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,NaN,NaN,NaN,NaN,NaN,NaN,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,65.0,5.0,16.0,26.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,168.0,3560.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),NaN,NaN,NaN,NaN,NaN,NaN,971.0,1022.0,1926113.0,7165.0,3493924.0,920172.0,629046.0,308339.0,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),NaN,NaN,NaN,NaN,NaN,NaN,751.0,695.0,1684053.0,42224.0,8535055.0,1694064.0,2690151.0,672973.0,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,NaN,NaN,44.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,3330.0,37882.0,1.321510e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,207.0,644121.0,13372.0,9023734.0,2788027.0,1439754.0,631229.0,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.089009e+09,Samsung,Samsung Sm-G390F,NaN,NaN,NaN,NaN,NaN,NaN,607.0,604.0,862600.0,50188.0,6248284.0,1500559.0,1936496.0,173853.0,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

### How many data points we have

In [398]:
print(f" There are {telecom_dataset.shape[0]} rows and {telecom_dataset.shape[1]} columns")

 There are 150001 rows and 55 columns

In [399]:
# column names
telecom_dataset.columns

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

## Handling Missing Values

In [400]:
def percent_missing(df):

    # Calculate total number of cells in dataframe
    totalCells = np.product(df.shape)

    # Count number of missing values per column
    missingCount = df.isnull().sum()

    # Calculate total number of missing values
    totalMissing = missingCount.sum()

    # Calculate percentage of missing values
    print("The Diabetes dataset contains", round(((totalMissing/totalCells) * 100), 2), "%", "missing values.")

percent_missing(telecom_dataset)

The Diabetes dataset contains 12.72 % missing values.

### How many null values we have on each columns

In [401]:
telecom_dataset.isnull().sum()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                          9559
Handset Type                                  9559
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [402]:
telecom_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      140442 non-null  object
 30  Handset Type                              140442 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

### Remove rows with emtpy Bearer Id, and MSISDN/Number

In [403]:
telecom_dataset.dropna(subset = ["Bearer Id", "MSISDN/Number"], inplace=True)

In [404]:
# check the new null values
telecom_dataset.isnull().sum()

Bearer Id                                        0
Start                                            0
Start ms                                         0
End                                              0
End ms                                           0
Dur. (ms)                                        0
IMSI                                             0
MSISDN/Number                                    0
IMEI                                             0
Last Location Name                             160
Avg RTT DL (ms)                              27636
Avg RTT UL (ms)                              27616
Avg Bearer TP DL (kbps)                          0
Avg Bearer TP UL (kbps)                          0
TCP DL Retrans. Vol (Bytes)                  87764
TCP UL Retrans. Vol (Bytes)                  96128
DL TP < 50 Kbps (%)                            712
50 Kbps < DL TP < 250 Kbps (%)                 712
250 Kbps < DL TP < 1 Mbps (%)                  712
DL TP > 1 Mbps (%)                             712
UL TP < 10 Kbps (%)                            767
10 Kbps < UL TP < 50 Kbps (%)                  767
50 Kbps < UL TP < 300 Kbps (%)                 767
UL TP > 300 Kbps (%)                           767
HTTP DL (Bytes)                              81129
HTTP UL (Bytes)                              81475
Activity Duration DL (ms)                        0
Activity Duration UL (ms)                        0
Dur. (ms).1                                      0
Handset Manufacturer                          8904
Handset Type                                  8904
Nb of sec with 125000B < Vol DL              96775
Nb of sec with 1250B < Vol UL < 6250B        92269
Nb of sec with 31250B < Vol DL < 125000B     92978
Nb of sec with 37500B < Vol UL              128950
Nb of sec with 6250B < Vol DL < 31250B       87838
Nb of sec with 6250B < Vol UL < 37500B      110803
Nb of sec with Vol DL < 6250B                  713
Nb of sec with Vol UL < 1250B                  768
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 0
Total DL (Bytes)                                 0
dtype: int64

In [405]:
columns = telecom_dataset.columns

def get_columns_with_higher_null(df):
    data_set_length = df.shape[0]
    result = []
    
    for column in columns:
        nulls = data_set_length - df[column].count()
        
        percentage = round((nulls / data_set_length) * 100)
        
        if(percentage > 30):
            result.append(column)
    return result
        
        
bad_columns = get_columns_with_higher_null(telecom_dataset)
print(bad_columns)

telecom_dataset.drop(bad_columns, axis=1, inplace=True)
print(telecom_dataset.shape)

['TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)', 'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Nb of sec with 125000B < Vol DL', 'Nb of sec with 1250B < Vol UL < 6250B', 'Nb of sec with 31250B < Vol DL < 125000B', 'Nb of sec with 37500B < Vol UL', 'Nb of sec with 6250B < Vol DL < 31250B', 'Nb of sec with 6250B < Vol UL < 37500B']
(148506, 45)

### Make change to appropriate data type

In [406]:
def convert_to_string(column):
    column = column.apply(lambda x: '{:.0f}'.format(x))
    column.astype('str')
    return column

telecom_dataset['Bearer Id'] = convert_to_string(telecom_dataset['Bearer Id'])
telecom_dataset['MSISDN/Number'] = convert_to_string(telecom_dataset['MSISDN/Number'])
telecom_dataset['IMSI'] = convert_to_string(telecom_dataset['IMSI'])
telecom_dataset['IMEI'] = convert_to_string(telecom_dataset['IMEI'])

telecom_dataset["Start"]=pd.to_datetime(telecom_dataset["Start"], format='%m/%d/%Y %H:%M', errors='coerce')
telecom_dataset["End"]=pd.to_datetime(telecom_dataset["End"], format='%m/%d/%Y %H:%M', errors='coerce')

telecom_dataset['Handset Manufacturer'] = telecom_dataset['Handset Manufacturer'].astype('str')
telecom_dataset['Last Location Name'] = telecom_dataset['Last Location Name'].astype('str')
telecom_dataset.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,13114483460845000704,2019-04-04 12:01:00,770.0,2019-04-25 14:35:00,662.0,1823652.0,208201448079117,33664962239,35521209507511,9164566995485190,42.0,5.0,23.0,44.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,13114483482879000576,2019-04-09 13:04:00,235.0,2019-04-25 08:15:00,606.0,1365104.0,208201909211140,33681854413,35794009006359,L77566A,65.0,5.0,16.0,26.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,168.0,3560.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),971.0,1022.0,1926113.0,7165.0,3493924.0,920172.0,629046.0,308339.0,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,13114483484081000448,2019-04-09 17:42:00,1.0,2019-04-25 11:58:00,652.0,1361762.0,208200314458056,33760627129,35281510359387,D42335A,NaN,NaN,6.0,9.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),751.0,695.0,1684053.0,42224.0,8535055.0,1694064.0,2690151.0,672973.0,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,13114483485443000320,2019-04-10 00:31:00,486.0,2019-04-25 07:36:00,171.0,1321509.0,208201402342131,33750343200,35356610164913,T21824A,NaN,NaN,44.0,44.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,3330.0,37882.0,1.321510e+09,nan,NaN,17.0,207.0,644121.0,13372.0,9023734.0,2788027.0,1439754.0,631229.0,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,13114483499480999936,2019-04-12 20:10:00,565.0,2019-04-25 10:40:00,954.0,1089009.0,208201401415120,33699795932,35407009745539,D88865A,NaN,NaN,6.0,9.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,1.089009e+09,Samsung,Samsung Sm-G390F,607.0,604.0,862600.0,50188.0,6248284.0,1500559.0,1936496.0,173853.0,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [407]:
telecom_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148506 entries, 0 to 149999
Data columns (total 45 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Bearer Id                       148506 non-null  object
 1   Start                           148506 non-null  datetime64[ns]
 2   Start ms                        148506 non-null  float64
 3   End                             148506 non-null  datetime64[ns]
 4   End ms                          148506 non-null  float64
 5   Dur. (ms)                       148506 non-null  float64
 6   IMSI                            148506 non-null  object
 7   MSISDN/Number                   148506 non-null  object
 8   IMEI                            148506 non-null  object
 9   Last Location Name              148506 non-null  object
 10  Avg RTT DL (ms)                 120870 non-null  float64
 11  Avg RTT UL (ms)                 120890 non-null  float64
 12  Avg Bearer TP DL (kbps)         148506 non-null  float64
 13  Avg Bearer TP UL (kbps)         148506 non-null  float64
 14  DL TP < 50 Kbps (%)             147794 non-null  float64
 15  50 Kbps < DL TP < 250 Kbps (%)  147794 non-null  float64
 16  250 Kbps < DL TP < 1 Mbps (%)   147794 non-null  float64
 17  DL TP > 1 Mbps (%)              147794 non-null  float64
 18  UL TP < 10 Kbps (%)             147739 non-null  float64
 19  10 Kbps < UL TP < 50 Kbps (%)   147739 non-null  float64
 20  50 Kbps < UL TP < 300 Kbps (%)  147739 non-null  float64
 21  UL TP > 300 Kbps (%)            147739 non-null  float64
 22  Activity Duration DL (ms)       148506 non-null  float64
 23  Activity Duration UL (ms)       148506 non-null  float64
 24  Dur. (ms).1                     148506 non-null  float64
 25  Handset Manufacturer            148506 non-null  object
 26  Handset Type                    139602 non-null  object
 27  Nb of sec with Vol DL < 6250B   147793 non-null  float64
 28  Nb of sec with Vol UL < 1250B   147738 non-null  float64
 29  Social Media DL (Bytes)         148506 non-null  float64
 30  Social Media UL (Bytes)         148506 non-null  float64
 31  Google DL (Bytes)               148506 non-null  float64
 32  Google UL (Bytes)               148506 non-null  float64
 33  Email DL (Bytes)                148506 non-null  float64
 34  Email UL (Bytes)                148506 non-null  float64
 35  Youtube DL (Bytes)              148506 non-null  float64
 36  Youtube UL (Bytes)              148506 non-null  float64
 37  Netflix DL (Bytes)              148506 non-null  float64
 38  Netflix UL (Bytes)              148506 non-null  float64
 39  Gaming DL (Bytes)               148506 non-null  float64
 40  Gaming UL (Bytes)               148506 non-null  float64
 41  Other DL (Bytes)                148506 non-null  float64
 42  Other UL (Bytes)                148506 non-null  float64
 43  Total UL (Bytes)                148506 non-null  float64
 44  Total DL (Bytes)                148506 non-null  float64
dtypes: datetime64[ns](2), float64(36), object(7)
memory usage: 52.1+ MB

## HANDSET

In [361]:
# top 10 manufacturers
top_10_handset = telecom_dataset[["Handset Type",'MSISDN/Number']].groupby('Handset Type')
top_10_handset = top_10_handset['MSISDN/Number'].nunique()
top_10_handset = top_10_handset.reset_index(name='Count')
top_10_handset = top_10_handset.sort_values(['Count'], ascending=False)
print(top_10_handset)

                           Handset Type  Count
315                    Huawei B528S-23A  10616
53              Apple iPhone 6S (A1688)   6744
49               Apple iPhone 6 (A1586)   6245
59               Apple iPhone 7 (A1778)   4675
73              Apple iPhone Se (A1723)   3744
...                                 ...    ...
648             Maysun Info Tech. M4028      1
649             Maysun Info Tech. M5026      1
650             Maysun Info Tech. M5046      1
651   Maysun Info Tech. Maysunm Mid5702      1
1389    Zyxel Communicat. Zyxel Wah7706      1

[1390 rows x 2 columns]

In [362]:
# top3 manufacturers
top_3_manufacturers = telecom_dataset[['Handset Manufacturer','IMSI']].groupby(['Handset Manufacturer'])['IMSI'].nunique().nlargest(3)
print(top_3_manufacturers)

Handset Manufacturer
Apple      42477
Samsung    30647
Huawei     21628
Name: IMSI, dtype: int64

### top 5 handsets per top 3 handset manufacturer

In [363]:
apple_phones = telecom_dataset[telecom_dataset['Handset Manufacturer']=='Apple'].groupby(['Handset Type'])['IMSI'].nunique().nlargest(5)
samsang_phones = telecom_dataset[telecom_dataset['Handset Manufacturer']=='Samsung'].groupby(['Handset Type'])['IMSI'].nunique().nlargest(5)
huawei_phones = telecom_dataset[telecom_dataset['Handset Manufacturer']=='Huawei'].groupby(['Handset Type'])['IMSI'].nunique().nlargest(5)

print("*** Apple ***")
print(apple_phones)
print()

print("*** Samsang ***")
print(samsang_phones)
print()

print("**** Huawei ****")
print(huawei_phones)

*** Apple ***
Handset Type
Apple iPhone 6S (A1688)    6744
Apple iPhone 6 (A1586)     6245
Apple iPhone 7 (A1778)     4675
Apple iPhone Se (A1723)    3744
Apple iPhone 8 (A1905)     3535
Name: IMSI, dtype: int64

*** Samsang ***
Handset Type
Samsung Galaxy S8 (Sm-G950F)    3232
Samsung Galaxy J5 (Sm-J530)     2741
Samsung Galaxy A5 Sm-A520F      2701
Samsung Galaxy J3 (Sm-J330)     2582
Samsung Galaxy S7 (Sm-G930X)    2288
Name: IMSI, dtype: int64

**** Huawei ****
Handset Type
Huawei B528S-23A                  10616
Huawei P20 Lite Huawei Nova 3E     1526
Huawei E5180                       1182
Huawei P20                         1105
Huawei Y6 2018                      757
Name: IMSI, dtype: int64

## Task 1.1 users behavior  applications.

### Number of sessions per user

In [374]:
telecom_dataset.groupby('MSISDN/Number').agg({"Bearer Id":'count'}).sort_values(by='Bearer Id', ascending=False)[:5]

               Bearer Id
MSISDN/Number
33626320676           18
33625779332           17
33614892860           17
33659725664           16
33760536639           15

### Session Duration per User

In [380]:
telecom_dataset.groupby('MSISDN/Number')\
    .agg({"Dur. (ms)":'sum'})\
    .sort_values(by='Dur. (ms)', ascending=False)[:5]

                Dur. (ms)
MSISDN/Number
33625779332    18553754.0
33614892860     9966898.0
33760536639     9279434.0
33626320676     8791927.0
33667163239     8744914.0

### Total upload and download per user

In [379]:
telecom_dataset.groupby('MSISDN/Number')\
    .agg({"Total UL (Bytes)":'sum', "Total DL (Bytes)":'sum'})\
    .sort_values(by='Total UL (Bytes)', ascending=False)[:5]

               Total UL (Bytes)  Total DL (Bytes)
MSISDN/Number
33625779332         729577380.0      7.770043e+09
33760536639         703478581.0      7.811295e+09
33614892860         689483001.0      8.156743e+09
33626320676         669650721.0      7.301517e+09
33659725664         624260321.0      7.081602e+09

### General overview of Application usager of user

In [382]:
general_columns = {
               'Social Media DL (Bytes)': 'sum',
               'Social Media UL (Bytes)': 'sum',
               'Google DL (Bytes)': 'sum',
               'Google UL (Bytes)': 'sum',
               'Email DL (Bytes)': 'sum',
               'Email UL (Bytes)': 'sum',
               'Youtube DL (Bytes)': 'sum',
               'Youtube UL (Bytes)': 'sum',
               'Netflix DL (Bytes)': 'sum',
               'Netflix UL (Bytes)': 'sum',
               'Gaming DL (Bytes)': 'sum',
               'Gaming UL (Bytes)': 'sum',
               'Other DL (Bytes)': 'sum',
               'Other UL (Bytes)': 'sum',
               'Gaming DL (Bytes)': 'sum',
               'Gaming UL (Bytes)': 'sum',
               }

telecom_dataset.groupby('MSISDN/Number').agg(general_columns).head()

,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes)
MSISDN/Number,,,,,,,,,,,,,,
3197020876596,668596.0,46628.0,8572779.0,1865881.0,842279.0,678492.0,9839889.0,2120016.0,10340908.0,16251392.0,164563605.0,13485133.0,467678100.0,2848373.0
33601001722,2206504.0,25631.0,3337123.0,1051882.0,837400.0,493962.0,14900201.0,6724347.0,10265105.0,16915876.0,811091133.0,1367528.0,377096990.0,9473882.0
33601001754,2598548.0,62017.0,4197697.0,1137166.0,2828821.0,478960.0,5324251.0,7107972.0,770569.0,10451194.0,105035298.0,14714780.0,279557701.0,2152370.0
33601002511,3148004.0,47619.0,3343483.0,99643.0,2436500.0,768880.0,2137272.0,19196298.0,16525919.0,2827981.0,529068485.0,9759228.0,495086501.0,6607171.0
33601007832,251469.0,28825.0,5937765.0,3740728.0,2178618.0,106052.0,4393123.0,2584198.0,1157362.0,784730.0,388074835.0,3051292.0,25248001.0,10031701.0

## Task 1.2 EDA

In [383]:
telecom_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148506 entries, 0 to 149999
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 148506 non-null  object
 1   Start                                     148506 non-null  datetime64[ns]
 2   Start ms                                  148506 non-null  float64
 3   End                                       148506 non-null  datetime64[ns]
 4   End ms                                    148506 non-null  float64
 5   Dur. (ms)                                 148506 non-null  float64
 6   IMSI                                      148506 non-null  object
 7   MSISDN/Number                             148506 non-null  object
 8   IMEI                                      148506 non-null  object
 9   Last Location Name                        148506 non-null  object
 10  Avg RTT DL (ms)                           120870 non-null  float64
 11  Avg RTT UL (ms)                           120890 non-null  float64
 12  Avg Bearer TP DL (kbps)                   148506 non-null  float64
 13  Avg Bearer TP UL (kbps)                   148506 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               60742 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               52378 non-null   float64
 16  DL TP < 50 Kbps (%)                       147794 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            147794 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             147794 non-null  float64
 19  DL TP > 1 Mbps (%)                        147794 non-null  float64
 20  UL TP < 10 Kbps (%)                       147739 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             147739 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            147739 non-null  float64
 23  UL TP > 300 Kbps (%)                      147739 non-null  float64
 24  HTTP DL (Bytes)                           67377 non-null   float64
 25  HTTP UL (Bytes)                           67031 non-null   float64
 26  Activity Duration DL (ms)                 148506 non-null  float64
 27  Activity Duration UL (ms)                 148506 non-null  float64
 28  Dur. (ms).1                               148506 non-null  float64
 29  Handset Manufacturer                      148506 non-null  object
 30  Handset Type                              139602 non-null  object
 31  Nb of sec with 125000B < Vol DL           51731 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     56237 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  55528 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19556 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    60668 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    37703 non-null   float64
 37  Nb of sec with Vol DL < 6250B             147793 non-null  float64
 38  Nb of sec with Vol UL < 1250B             147738 non-null  float64
 39  Social Media DL (Bytes)                   148506 non-null  float64
 40  Social Media UL (Bytes)                   148506 non-null  float64
 41  Google DL (Bytes)                         148506 non-null  float64
 42  Google UL (Bytes)                         148506 non-null  float64
 43  Email DL (Bytes)                          148506 non-null  float64
 44  Email UL (Bytes)                          148506 non-null  float64
 45  Youtube DL (Bytes)                        148506 non-null  float64
 46  Youtube UL (Bytes)                        148506 non-null  float64
 47  Netflix DL (Bytes)                        148506 non-null  float64
 48  Netflix UL (Bytes)                        148506 non-null  float64
 49  Gaming DL (Bytes)                         148506 non-null  float64
 50  Gaming UL (Bytes)                         148506 non-null  float64
 51  Other DL (Bytes)                          148506 non-null  float64
 52  Other UL (Bytes)                          148506 non-null  float64
 53  Total UL (Bytes)                          148506 non-null  float64
 54  Total DL (Bytes)                          148506 non-null  float64
dtypes: datetime64[ns](2), float64(46), object(7)
memory usage: 63.4+ MB